extends layout
block content
  h1#title Welcome to the Game

  #loginForm
    input#userName(placeholder="User Name")
    button#login Login

  #game(style="display:none")
    #worldMessages
      h3 World Messages
    #main

  #chat(style="display:none;")
    #channels(style="float:right; width:10%; border:1px solid black; cursor:pointer;")
    #messages(style="max-height:200px; height:500px; overflow:auto; width: 70%; border:1px solid black")
    input#message
    button#sendMessage Send

  script(src="http://code.jquery.com/jquery-1.9.1.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/client/socket_junk.js")
  script(src="/client/ui.js")
  script(src="/client/player_characters.js")
  script(src="/client/loading_image.js")
  script(src="/client/lib/spin.min.js")
  script(src="/client/init.js")
