body {
  background: #eeeeee; }

table {
  border: 1px solid black; }
  table td, table th {
    border: 1px solid black; }

#worldMessages {
  border: 1px solid black;
  max-height: 200px;
  margin: 0 0 0 auto;
  height: 100px;
  overflow-y: auto;
  width: 30%; }
  #worldMessages h3 {
    margin-top: 0;
    padding-top: 0; }
