input(type="hidden", value=area._id, name="_id")
.field
  label Name:
  input(value=area.name, name="name")

.field
  label Description:
  textarea(name="description")=area.description

.actions
  button Submit
