input(type="hidden", value=area._id, name="_id")
.field
  label Name:
  input(value=area.Name, name="name")

.field
  label Description:
  textarea(value=area.description, name="description")

.actions
  button Submit
